<div id="alert-dialog" class="modal fade slide-up disable-scroll in" bsModal #genericModal="bs-modal" [config]="{backdrop: 'static'}"
 tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content-wrapper">
			<div class="modal-content">
				<div class="modal-header modal-header-generic clearfix text-left">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="dismiss()">
						<i class="pg-close fs-28"></i>
					</button>
					<img src="/src/assets/img/op.svg" class="op-logo-modal m-r-15" />
					<h5 class="p-l-20">{{ alertService.titleBar }}</h5>
				</div>
				<div class="modal-body p-t-30 p-b-30 text-center">
					<i class="fa {{ alertService.icon }} confirm-icon" aria-hidden="true"></i>
					<p class="confirm-message">{{ alertService.message }}</p>
					<button type="button" class="btn {{ alertService.okClass }}" data-dismiss="modal" (click)="dismiss()" [innerHtml]="alertService.okMessage"></button>
				</div>
			</div>
		</div>
	</div>
</div>