<div class="fb-livechat">
    <div class="ctrlq fb-overlay"></div>
    <div class="fb-widget">
        <div class="ctrlq fb-close"></div>
        <div class="fb-page" data-href="https://www.facebook.com/wearewoop/" data-tabs="messages" data-width="360" data-height="300"
            data-small-header="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/wearewoop/" class="fb-xfbml-parse-ignore"> </blockquote>
        </div>
        <div id="fb-root"></div>
    </div>
    <a href="https://m.me/wearewoop" title="Send us a message on Facebook" class="ctrlq fb-button"></a>
</div>