<!-- START MY_CHANNELS -->
<div class="=col-xs-12 p-l-0 hidden-print">
  <div class="panel panel-transparent panel-my_channels sm-m-b-0 xs-m-b-0">
    <div class="panel-heading p-t-0 p-l-0 p-r-0 p-b-7 m-h-25 z-i-auto">
        <div class="panel-title">Meus Canais</div>
        <div class="panel-controls">
          <ul>
            <li>
                <div class="dropdown">
                    <a class="channel-management" id="portlet-settings" data-target="#" href="#" data-toggle="dropdown" 
                    aria-haspopup="true" role="button" aria-expanded="false">
                        <i class="pg-settings_small_1"></i>
                    </a>

                    <ul *ngIf="groupType == 'P'" class="dropdown-menu pull-right" role="menu" aria-labelledby="portlet-settings">
                        <li><a class="dropdown-menu__item" href="javascript:void(0)" (click)="openChannelsModal()">Gerenciar Canais</a></li>
                        <li><a class="dropdown-menu__item hidden-sm hidden-xs" href="javascript:void(0)" (click)="openGroupsModal()">Gerenciar Grupos</a></li>   
                    </ul>

                    <ul *ngIf="groupType == 'R'" class="dropdown-menu pull-right" role="menu" aria-labelledby="portlet-settings">
                        <li><a class="dropdown-menu__item" href="javascript:void(0)" (click)="openGroupsModal()">Gerenciar Rss Feeds</a></li>
                    </ul>
                </div>
            </li>
          </ul>
        </div>
    </div>
    <!-- My channels -->
    <div *ngIf="(!noProfiles || !noRssFeeds) && !loading">
        <div [ngClass]="{'show': index == 0}" *ngIf="groupType == 'P' && groupDefault.groupsObject.length > 0" class="panel-group panel-transparent m-b-10" role="tablist" aria-multiselectable="true" id="accordion_default">
            <accordion_menu [group]="groupDefault" [(checkedProfiles)]="checkedProfiles"
                [showCheckAllBtn]="showCheckAllBtn" [singleSelect]="singleSelect" (sendProfiles)="setProfilesCheckeds($event)"
                [groupType]="groupType" [isGroupDefault]="true" [validateSchedule]="validateSchedule">
            </accordion_menu>
        </div>
        <div *ngFor="let item of groups, let i = index" [class.hidden]="item.groupsObject == null || !item.groupsObject.length">
            <div class="panel-group panel-transparent m-b-10" role="tablist" aria-multiselectable="true" id="accordion_{{item.idGroup}}">
                <accordion_menu [group]="item" [(checkedProfiles)]="checkedProfiles"
                    [showCheckAllBtn]="showCheckAllBtn" [singleSelect]="singleSelect" (sendProfiles)="setProfilesCheckeds($event)"
                    [groupType]="groupType" [index]="i" [isGroupDefault]="false" [validateSchedule]="validateSchedule">
                </accordion_menu>
            </div>
        </div>
    </div>
    <!-- No profiles component -->
    <div *ngIf="(noProfiles || noRssFeeds) && !loading" class="panel panel-default panel-no-channels p-t-20">
        <div class="panel-body no-padding no-overflow">
            <div class="row">
                <div class="col-l-12">
                    <div class="row">
                        <div class="p-b-30 p-t-10 text-center">
                            <i class="fa fa-2x fa-plus-square" aria-hidden="true"></i>
                            <p *ngIf="groupType == 'P'" class="no-channels-p">Você ainda não possui nenhum canal</p>
                            <a *ngIf="groupType == 'P'" class="no-channels-a text-uppercase" (click)="openChannelsModal()">Clique aqui para adicionar</a>
                            <p *ngIf="groupType == 'R'" class="no-channels-p">Você ainda não possui nenhum rss feed</p>
                            <a *ngIf="groupType == 'R'" class="no-channels-a text-uppercase" (click)="openGroupsModal()">Clique aqui para adicionar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Loader -->
    <div class="col-sm-12 text-center" *ngIf="loading">
        <div class="progress-circle-indeterminate progress-circle-complete m-t-45" data-color="complete"></div>
    </div>
  </div>
</div>
<!-- END MY_CHANNELS -->