<div class="modal-dialog md-modal-op">
	<div class="modal-content-wrapper padding-10">
		<div class="modal-content">
			<div class="modal-header modal-header-generic clearfix text-left">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="hideModal()">
					<i class="pg-close fs-28"></i>
				</button>
				<img src="assets/images/logo-svg-fundo-branco.svg" width="100" class="op-logo-modal m-r-15"/>
			</div>
			<div class="modal-body m-t-30 p-t-0 p-b-25 p-l-30 p-r-30">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="text-secondary bold font-montserrat text-uppercase text-center">Change password</h5>
                        <p class="font-montserrat fs-13">
                            Insert your email and we will send a new password.
                        </p>
                        <div class="col-xs-12 no-padding m-l-0 m-r-0">
                            <form [formGroup]="form">
                                <div *ngIf="!passwordChanged" class="col-xs-12 col-sm-7 no-padding m-l-0 m-r-0">
                                    <div class="form-group form-group-default required">
                                        <label>E-mail</label>
                                        <input formControlName="email" type="text" name="email" id="email" class="form-control" 
                                                required placeholder="ex: contact@example.com" (blur)="validateEmail()" (keyup)="validateEmail()" [(ngModel)]="email">
                                        <label *ngIf="emailInput.errors?.required && (emailInput.dirty || emailInput.touched)" 
                                                class="error" for="email">E-mail required</label> 
                                        <label *ngIf="!emailInput.errors?.required && !emailValid && (emailInput.dirty || emailInput.touched)" 
                                                class="error" for="email">Enter a valid email address</label>
                                    </div>
                                    <label *ngIf="emailError && emailNotFound" class="error" for="email">This E-mail does not exist in our database</label>
                                </div>
                                <div *ngIf="passwordChanged" class="col-xs-12 no-padding m-l-0 m-r-0">
                                    <label *ngIf="passwordChanged" class="text-secondary" for="email">
                                        <strong>Your password was changed. Check out your email please :)</strong>
                                    </label>
                                </div>
                                <div *ngIf="!passwordChanged" class="col-xs-12 col-sm-5 no-padding m-l-0 m-r-0 m-t-10">
                                    <a class="col-xs-5 btn btn-bordered fs-12 btn-secondary m-l-20 m-r-10" 
                                        href="javascript:void(0)" (click)="sendEmail()" [class.disabled]="!form.valid || !emailValid">
                                        <span *ngIf="!emailSending && !emailSent">Send email</span>
                                        <i *ngIf="emailSending && !emailSent" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                        <i *ngIf="emailSent" class="fa fa-check" aria-hidden="true"></i>
                                        <i *ngIf="emailError" class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    </a>
                                    <a class="col-xs-5 btn btn-bordered fs-12 btn-secondary" 
                                        href="javascript:void(0)" (click)="goBack()">
                                        <span>Back</span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>