.text-secondary {
    color: #6d5cae;
}
.bg-secondary {
    background-color: #6d5cae;
}
.btn-secondary {
    background-color: #6d5cae;
    border: none;
}
.btn-secondary:hover {
    background-color: #ededed;
    color: #fc1c51;
    border: none;
}