<section class="main" #main>
    <header [ngClass]="{
        'back-F': profile.type == 'F' || profile.type == 'P',
        'back-I': profile.type == 'I',
        'back-T': profile.type == 'T',
        'back-L': profile.type == 'L' || profile.type == 'H' 
        }">

        <div class="handle">
            <i class="icon-header fa fa-{{profile.type | profileType }}-square" *ngIf="profile.type != 'I'"></i> 
            <i class="icon-header fa fa-instagram" *ngIf="profile.type == 'I'"></i> 
            <span class="handle">{{ profile.type | profileType | uppercase }}</span>
        </div>

        <div class="dropdown-container">
            
            <div class="pull-left m-r-5">
                <a class="channel-management" href="javascript:void(0)" (click)="reloadStreams()">
                    <i class="fa fa-repeat pg-settings_small_1" aria-hidden="true"></i>
                </a>
            </div>
            <div class="dropdown pull-right">
                <a class="channel-management" href="#" data-toggle="dropdown">
                    <i class="pg-settings_small_1"></i>
                </a>

                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a class="dropdown-menu__item" href="javascript:void(0)" (click)="deleteStream()">Remover Stream</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="profileInfo">
        <a [href]="getHref(profile)" target="_blank">
            <img class="avatar" [src]="profile.avatar" [alt]="profile.screenName">    
            <strong class="screenName">{{ profile.screenName }}</strong>
        </a>
    </section>

    <section class="main-container" #mainContainer>
        <nav>
            <div class="panel panel-opsocial panel-transparent">
                <ul class="nav nav-tabs nav-tabs-opsocial" data-init-reponsive-tabs="dropdownfx" *ngIf="profile.type != 'I' && profile.type != 'F'">
                     <li class="active">
                        <a (click)="setActiveTab('P')" *ngIf="tabType=='full'" data-toggle="tab" href="#posts{{profile.idProfile}}"><span>My Posts</span></a>
                        <a (click)="setActiveTab('P')" *ngIf="tabType=='small'" data-toggle="tab" href="#posts{{profile.idProfile}}" title="My Posts"><span><i class="fa fa-list-alt" aria-hidden="true"></i></span></a>
                    </li>
                    <li>
                        <a (click)="setActiveTab('T')" *ngIf="tabType=='full'" data-toggle="tab" href="#timeline{{profile.idProfile}}"><span>Timeline</span></a>
                        <a (click)="setActiveTab('T')" *ngIf="tabType=='small'" data-toggle="tab" href="#timeline{{profile.idProfile}}" title="Timeline"><span><i class="fa fa-list-ul" aria-hidden="true"></i></span></a>
                    </li>
                    <li class="">
                        <a (click)="setActiveTab('M')" *ngIf="tabType=='full'" data-toggle="tab" href="#mentions{{profile.idProfile}}"><span>Mentions</span></a>
                        <a (click)="setActiveTab('M')" *ngIf="tabType=='small'" data-toggle="tab" href="#mentions{{profile.idProfile}}" title="Mentions"><span><i class="fa fa-at" aria-hidden="true"></i></span></a>
                    </li>
                    <li class="">
                        <a (click)="setActiveTab('I')" *ngIf="tabType=='full'" data-toggle="tab" href="#inbox{{profile.idProfile}}"><span>Inbox</span></a>
                        <a (click)="setActiveTab('I')" *ngIf="tabType=='small'" data-toggle="tab" href="#inbox{{profile.idProfile}}" title="Inbox"><span><i class="fa fa-comments" aria-hidden="true"></i></span></a>
                    </li>
                </ul>
                <ul class="nav nav-tabs nav-tabs-opsocial hidden-sm hidden-xs ul-instagram" data-init-reponsive-tabs="dropdownfx" *ngIf="profile.type == 'I'">
                     <li class="active">
                        <a (click)="setActiveTab('P')" data-toggle="tab" href="#posts{{profile.idProfile}}"><span>My Posts</span></a>
                    </li>
                    <li class="">
                        <a (click)="setActiveTab('F')" data-toggle="tab" href="#followers{{profile.idProfile}}"><span>Followers</span></a>
                    </li>
                </ul>
                <ul class="nav nav-tabs nav-tabs-opsocial ul-facebook-profile" data-init-reponsive-tabs="dropdownfx" *ngIf="profile.type == 'F'">
                    <li class="active">
                        <a (click)="setActiveTab('T')" data-toggle="tab" href="#timeline{{profile.idProfile}}"><span>Timeline</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <article>
            <div class="tab-content">
                <div class="tab-pane slide-left active scroll-tab scroll-op scroll-hover p-l-5 p-r-5" id="posts{{profile.idProfile}}" (scroll)="scrollMyPosts()" #myPosts>

                    <div class="panel panel-transparent no-preview text-center p-t-30 p-b-30" *ngIf="!loadings['P'] && !posts['P'].length">
                        <div class="center-absolute">
                            <p class="small hint-text">No posts in this section</p>
                        </div>
                    </div>

                    <stream-post tab="P" [post]="post" [profile]="profile" class="stream-post" 
                        [index]="i" (emit)="splicePost($event, 'P')" *ngFor="let post of posts['P'], let i = index" 
                        [hidden]="loadingMore['P']">
                    </stream-post>

                    <div class="panel panel-transparent no-preview text-center p-t-30 p-b-30" *ngIf="loadings['P'] || loadingMore['P']">
                        <div class="center-absolute">
                            <div class="progress-circle-indeterminate progress-circle-complete progress-circle-info"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane slide-left scroll-tab scroll-op scroll-hover p-l-5 p-r-5" id="timeline{{profile.idProfile}}" (scroll)="scrollTimeline()" #timeline>
                    <div class="panel panel-transparent no-preview text-center p-t-30 p-b-30" *ngIf="!loadings['T'] && !posts['T'].length">
                        <div class="center-absolute">
                            <p class="small hint-text">No posts in this section</p>
                        </div>
                    </div>

                    <stream-post tab="T" [post]="post" [profile]="profile" class="stream-post" 
                        [index]="i" (emit)="splicePost($event, 'T')" *ngFor="let post of posts['T'], let i = index" 
                        [hidden]="loadingMore['T']">
                    </stream-post>

                    <div class="panel panel-transparent no-preview text-center p-t-30 p-b-30" *ngIf="loadings['T'] || loadingMore['T']">
                        <div class="center-absolute">
                            <div class="progress-circle-indeterminate progress-circle-complete progress-circle-info"></div>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-pane slide-left scroll-tab scroll-op scroll-hover p-l-5 p-r-5" id="mentions{{profile.idProfile}}" (scroll)="scrollMentions()" #mentions>
                    <div class="panel panel-transparent no-preview text-center p-t-30 p-b-30" *ngIf="!loadings['M'] && !posts['M'].length">
                        <div class="center-absolute">
                            <p class="small hint-text">No posts in this section</p>
                        </div>
                    </div>

                    <stream-post tab="M" [post]="post" [profile]="profile" class="stream-post" 
                        [index]="i" (emit)="splicePost($event, 'M')" *ngFor="let post of posts['M'], let i = index" 
                        [hidden]="loadingMore['M']">
                    </stream-post>

                    <div class="panel panel-transparent no-preview text-center p-t-30 p-b-30" *ngIf="loadings['M'] || loadingMore['M']">
                        <div class="center-absolute">
                            <div class="progress-circle-indeterminate progress-circle-complete progress-circle-info"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane slide-left relative" id="inbox{{profile.idProfile}}">
                    <inbox [offset]="offset" [inbox]="inbox" [profile]="profile" (emit)="inboxState($event)" [loaded]="!this.loadings['I']"></inbox>

                    <div class="panel panel-transparent no-preview text-center p-t-30 m-b-0" [class.loading-inbox]="inbox.conversations.length" *ngIf="this.loadings['I']">
                        <div class="center-absolute">
                            <div class="progress-circle-indeterminate progress-circle-complete progress-circle-info"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane slide-left relative" id="followers{{profile.idProfile}}">
                    <followers [followers]="followers" (emit)="getFollowers($event)"></followers>

                    <div class="panel panel-transparent no-preview text-center p-t-30 m-b-0"  [class.loading-inbox]="followers.length" *ngIf="loadings['F']">
                        <div class="center-absolute">
                            <div class="progress-circle-indeterminate progress-circle-complete progress-circle-info"></div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</section>