<!-- END HEADER -->
<!-- BEGIN JUMBOTRON -->
<section class="jumbotron full-vh relative main-section hidden-xs hidden-sm ">
	<div id="content-title">
		<h1 class="light m-t-5 all-caps bold" id="top-title" data-swiper-parallax="-15%">
			<span>THE SMARTER CHOICe</span>
			<span class="p-b-7">FOR AMAZING marketers</span>
		</h1>
		<h3 class="all-caps" id="subtitle">Social Media Scheduler & Analytics 
			<br class="hidden-sm hidden-md hidden-lg hidden-xlg"> 
			in one platform
		</h3>
	</div>
	<div id="dude" class="full-width"></div>
	<a href="/create" class="bold btn btn2 btn-giant btn-lg font-montserrat all-caps no-border demo-btn-tour"><small>Use for <img src="assets/images/free-svg.svg" class="free" width="100"></small></a>
	<!-- <div class="video-overlay z-index-1"></div> -->
</section>
<!-- END JUMBOTRON -->

<!-- BEGIN INTRO CONTENT -->
<section class="p-b-60 p-t-60 hidden-xs hidden-sm" id="notifications">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 p-t-50">
				<h3 class="block-title m-b-0 text-center bold">Designed by marketers, specially for marketers </h3>
				<h1 class="m-t-5 text-center" id="boost">Boost your results with advanced analytics content performance and fully manage all of your social media channels</h1>
			</div>
		</div>
	</div>
</section>
<!-- END INTRO CONTENT -->

<!-- START CONTENT SECTION -->
<section id="demo-content-3" class="jumbotron p-b-60 relative bg-white hidden-xs hidden-sm">
	<img class="demo-browser-desktop" src="assets/images/landing/browser-streams.jpg" data-pages="float" data-max-top-translate="50"
		data-max-bottom-translate="0" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
	<!-- <img class="demo-browser-desktop visible-lg visible-xlg" src="assets/images/browser_desktop.jpg" data-pages="float" data-max-top-translate="50"
		data-max-bottom-translate="0" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
	<img class="demo-browser-ipad visible-sm visible-md" src="assets/images/browser_ipad.jpg" data-pages="float" data-max-top-translate="0"
		data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
	<img class="demo-browser-phone visible-xs" src="assets/images/browser_phone.jpg" data-pages="float" data-max-top-translate="0"
		data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt=""> -->
	<div class="demo-shadow"></div>
</section>
<!-- END CONTENT SECTION -->

<!-- BEGIN INTRO CONTENT -->
<section id="social-networks" class="hidden-xs hidden-sm">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 p-t-50">
				<p class="text-center">
					<i class="fa fa-facebook-official facebook-color m-l-1 m-r-1" aria-hidden="true"></i>
					<i class="fa fa-twitter-square twitter-color m-l-1 m-r-1" aria-hidden="true"></i>
					<i class="fa fa-linkedin-square linkedin-color m-l-1 m-r-1" aria-hidden="true"></i>
					<i class="fa fa-instagram instagram-color m-l-1 m-r-1" aria-hidden="true"></i>
					<span id="most-popular">The most popular social networks. Publish in all formats easily</span>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- END INTRO CONTENT -->

<!-- BEGIN INTRO CONTENT -->
<section class="p-b-60 p-t-60 hidden-xs hidden-sm" id="features">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-6">
				<div class="full-width">
					<img src="assets/images/landing/bloco-1.jpg" alt="" width="100%">
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-6">
				<h1 class="m-t-5">Schedule your posts for multiple social networks from a single compose box</h1>
				<p class="m-t-30 m-b-0">Streamlining the processes of posting content on Facebook, Twitter and Instagram through Woop allows you to save time
					and money centralizing the management of your social accounts in one simplified desktop platform. </p>
				<h5 class="all-caps bold m-t-20 m-b-0 block-title">Schedule posts, album, videos, gifs and stories in one place</h5>
				<p>
					<span>Facebook</span>
					<i class="fa fa-facebook-official facebook-color" aria-hidden="true"></i>
					<span>, Twitter</span>
					<i class="fa fa-twitter-square twitter-color" aria-hidden="true"></i>
					<span>, Linkedin</span>
					<i class="fa fa-linkedin-square linkedin-color" aria-hidden="true"></i>
					<span> and Instagram</span>
					<i class="fa fa-instagram instagram-color" aria-hidden="true"></i>
					<span> supported</span>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- END INTRO CONTENT -->

<!-- BEGIN INTRO CONTENT -->
<section class="p-b-60 hidden-sm hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-6">
				<h1 class="m-t-5">Find quick answers on comprehensive reports and get actionable insights</h1>
				<p class="m-t-20">Woop delivers everything, from a general overview, including page growth and posts that generated more engagement. We provide a glance at the performance of your actions, to your audience’s prime time, and more. The reports provided are pre-analyzed, together with all information. Woop makes analyzing easy so you can have a complete view on how your strategy is performing to guide next steps. </p>
				<h5 class="all-caps bold m-t-30 m-b-0 block-title">CRYSTAL CLEAR data: advanced analytics for your brand</h5>
				<p>General and advanced reports with pre analized data about your audience and content</p>
				<h5 class="all-caps bold m-t-20 m-b-0 block-title">PDF and XLS DATA EXPORT</h5>
				<p>Export reports in PDF documents or spreadsheets to go even deeper on the data</p>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-6">
				<div class="full-width">
					<img src="assets/images/landing/bloco-2.jpg" alt="" width="100%">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END INTRO CONTENT -->

<!-- BEGIN INTRO CONTENT -->
<section class="p-b-60 hidden-sm hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-6">
				<div class="full-width">
					<img src="assets/images/landing/bloco-3.jpg" alt="" width="100%">
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-6">
				<h1 class="m-t-5">Community management and social media support made easy</h1>
				<p class="m-t-30">Woop makes you able to read and respond to inbox messages, comments, replies and directed messages from all your social media accounts in an integrated environment. A quick and simple way to never miss a conversation. </p>
				<h5 class="all-caps bold m-t-30 m-b-0 block-title">Respond to all interactions in one single place</h5>
				<p>Answer inboxes, comments, replies and directed messages easily from a structured dashboard</p>
				<h5 class="all-caps bold m-t-20 m-b-0 block-title">Access your full timeline to follow likes and mentions all together</h5>
				<p>You may interact with the content and with the comments on your profile and page’s timeline </p>
			</div>
		</div>
	</div>
</section>
<!-- END INTRO CONTENT -->

<!-- BEGIN INTRO CONTENT -->
<section class="p-b-60 hidden-sm hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-6">
				<h1 class="m-t-5">A powerful solution for all your Instagram needs</h1>
				<p class="m-t-20">Woop makes it easy to schedule stories, images, multiple images and videos in an automatized way, with no mobile validation required. Get a full overview of how your channel is performing and access specific metrics by analyzing engagement and interactions post by post - also available for business profiles. </p>
				<h5 class="all-caps bold m-t-30 m-b-0 block-title">Schedule stories, images, multiple images and videos</h5>
				<p>Keep your profile always updated scheduling content from your computer</p>
				<h5 class="all-caps bold m-t-20 m-b-0 block-title">Schedule content directly from your computer</h5>
				<p>The easiest way to schedule content for Instagram - one single step!</p>
				<h5 class="all-caps bold m-t-20 m-b-0 block-title">Advanced analytics on your Instagram activity and audience</h5>
				<p>Get access to valuable information and insights through pre-analyzed data</p>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-6">
				<div class="full-width">
					<img src="assets/images/landing/bloco-4.jpg" alt="" width="100%">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END INTRO CONTENT -->

<!-- START CONTENT SECTION -->
<!-- <section id="demo-content-3" class="jumbotron p-b-60 relative bg-white">
	<img class="demo-browser-desktop second-image" src="assets/images/mockups-baixo.png" data-pages="float" data-max-top-translate="50"
		data-max-bottom-translate="0" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
	<!-- <img class="demo-browser-desktop visible-lg visible-xlg" src="assets/images/browser_desktop.jpg" data-pages="float" data-max-top-translate="50"
		data-max-bottom-translate="0" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
	<img class="demo-browser-ipad visible-sm visible-md" src="assets/images/browser_ipad.jpg" data-pages="float" data-max-top-translate="0"
		data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
	<img class="demo-browser-phone visible-xs" src="assets/images/browser_phone.jpg" data-pages="float" data-max-top-translate="0"
		data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
	<div class="demo-shadow"></div>
</section> -->
<!-- END CONTENT SECTION -->

<!-- MOBILE -->

<div class="container container-woop text-center p-l-0 p-r-0 m-r-0 m-l-0 hidden-md hidden-lg hidden-xlg">

	<section class="jumbotron main-section">	
		<div id="content-title" class="width-100">
			<h1 class="light m-t-25 all-caps bold fs-35 xs-fs-28" id="top-title">
				<span>THE SMARTER CHOICe</span>
				<span class="p-b-7">FOR AMAZING marketers</span>
			</h1>
			<h3 class="all-caps xs-fs-14" id="subtitle">Social Media Scheduler & Analytics in one platform</h3>
		</div>
		<div id="dude" class="full-width hidden-xs"></div>
		<a href="/create" class="width-90 bold btn btn2 btn-giant btn-lg font-montserrat all-caps no-border m-l-20 m-r-20">
			<small>Use for <img src="assets/images/free-svg.svg" class="free" width="100"></small>
		</a>
	</section>

	<section class="p-b-0 p-t-0" id="notifications">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 p-t-40">
					<h5 class="block-title m-b-0 text-center bold">Designed by marketers, specially for marketers </h5>
					<h1 class="m-t-5 text-center title-mobile" id="boost-mobile">Boost your results with advanced analytics content performance and fully manage all of your social media channels</h1>
				</div>
			</div>
		</div>
	</section>

	<section id="social-networks">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 p-t-50">
					<p class="text-center">
						<i class="fa fa-facebook-official facebook-color m-l-1 m-r-1" aria-hidden="true"></i>
						<i class="fa fa-twitter-square twitter-color m-l-1 m-r-1" aria-hidden="true"></i>
						<i class="fa fa-linkedin-square linkedin-color m-l-1 m-r-1" aria-hidden="true"></i>
						<i class="fa fa-instagram instagram-color m-l-1 m-r-1" aria-hidden="true"></i>
						<span id="most-popular">The most popular social networks. Publish in all formats easily</span>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="p-b-60 p-t-50" id="features">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-6">
					<div class="full-width">
						<img src="assets/images/landing/bloco-1.jpg" alt="" width="100%">
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 col-md-6">
					<h1 class="m-t-5 title-mobile">Schedule your posts for multiple social networks from a single compose box</h1>
					<p class="m-t-30 m-b-0">Streamlining the processes of posting content on Facebook, Twitter and Instagram through Woop allows you to save time
						and money centralizing the management of your social accounts in one simplified desktop platform. </p>
					<h5 class="all-caps bold m-t-20 m-b-0 block-title">Schedule posts, album, videos, gifs and stories in one place</h5>
					<p>
						<span>Facebook</span>
						<i class="fa fa-facebook-official facebook-color" aria-hidden="true"></i>
						<span>, Twitter</span>
						<i class="fa fa-twitter-square twitter-color" aria-hidden="true"></i>
						<span>, Linkedin</span>
						<i class="fa fa-linkedin-square linkedin-color" aria-hidden="true"></i>
						<span> and Instagram</span>
						<i class="fa fa-instagram instagram-color" aria-hidden="true"></i>
						<span> supported</span>
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-6">
					<div class="full-width">
						<img src="assets/images/landing/bloco-2.jpg" alt="" width="100%">
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 col-md-6">
					<h1 class="m-t-5 title-mobile">Find quick answers on comprehensive reports and get actionable insights</h1>
					<p class="m-t-20">Woop delivers everything, from a general overview, including page growth and posts that generated more engagement. We provide a glance at the performance of your actions, to your audience’s prime time, and more. The reports provided are pre-analyzed, together with all information. Woop makes analyzing easy so you can have a complete view on how your strategy is performing to guide next steps. </p>
					<h5 class="all-caps bold m-t-30 m-b-0 block-title">CRYSTAL CLEAR data: advanced analytics for your brand</h5>
					<p>General and advanced reports with pre analized data about your audience and content</p>
					<h5 class="all-caps bold m-t-20 m-b-0 block-title">PDF and XLS DATA EXPORT</h5>
					<p>Export reports in PDF documents or spreadsheets to go even deeper on the data</p>
				</div>
			</div>
		</div>
	</section>

	<section class="p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-6">
					<div class="full-width">
						<img src="assets/images/landing/bloco-3.jpg" alt="" width="100%">
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 col-md-6">
					<h1 class="m-t-5 title-mobile">Community management and social media support made easy</h1>
					<p class="m-t-30">Woop makes you able to read and respond to inbox messages, comments, replies and directed messages from all your social media accounts in an integrated environment. A quick and simple way to never miss a conversation. </p>
					<h5 class="all-caps bold m-t-30 m-b-0 block-title">Respond to all interactions in one single place</h5>
					<p>Answer inboxes, comments, replies and directed messages easily from a structured dashboard</p>
					<h5 class="all-caps bold m-t-20 m-b-0 block-title">Access your full timeline to follow likes and mentions all together</h5>
					<p>You may interact with the content and with the comments on your profile and page’s timeline </p>
				</div>
			</div>
		</div>
	</section>

	<section class="p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-6">
					<div class="full-width">
						<img src="assets/images/landing/bloco-4.jpg" alt="" width="100%">
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 col-md-6">
					<h1 class="m-t-5 title-mobile">A powerful solution for all your Instagram needs</h1>
					<p class="m-t-20">Woop makes it easy to schedule stories, images, multiple images and videos in an automatized way, with no mobile validation required. Get a full overview of how your channel is performing and access specific metrics by analyzing engagement and interactions post by post - also available for business profiles. </p>
					<h5 class="all-caps bold m-t-30 m-b-0 block-title">Schedule stories, images, multiple images and videos</h5>
					<p>Keep your profile always updated scheduling content from your computer</p>
					<h5 class="all-caps bold m-t-20 m-b-0 block-title">Schedule content directly from your computer</h5>
					<p>The easiest way to schedule content for Instagram - one single step!</p>
					<h5 class="all-caps bold m-t-20 m-b-0 block-title">Advanced analytics on your Instagram activity and audience</h5>
					<p>Get access to valuable information and insights through pre-analyzed data</p>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- BEGIN FOOTER CONTENT -->
<section class="jumbotron relative invite-to-sign ajdust-min-height">
	<div class="container p-t-30 p-b-30 text-center m-t-100 m-b-100 xs-m-t-20 xs-m-b-30">
		<img id="logo-header" src="assets/images/logo-svg-fundo-roxo.svg" width="125" alt="">
		<h2 class="text-white light m-t-5 hidden-xs" id="title-invite" data-swiper-parallax="-15%">
			<span>Social media made easy for</span>
			<span>small businesses, marketers and agencies.</span>
		</h2>
		<a href="/create" class="bold btn btn2 btn-lg font-montserrat all-caps no-border m-t-20 m-b-20 btn-giant sm-full-width">
			<span class="down-free">Use for</span>
			<img src="assets/images/free-svg.svg" class="free up-free hidden-xxs" width="130">
			<span class="down-free shown-xxs">free</span>
			<span class="down-free hidden-xs"> right now!</span>
		</a>
		<p class="text-footer-invite all-caps font-montserrat">Social Media Scheduler & Analytics in one platform</p>
	</div>
	<!-- <div class="video-overlay z-index-1"></div> -->
</section>
<!-- END FOOTER CONTENT -->