<div class="panel panel-transparent p-b-0" style="min-height: 0px;max-height: 10px;">
    <div class="panel-heading p-t-0 p-b-0 p-l-0 m-h-25">
        <div class="panel-title">
            post preview
        </div>
    </div>
</div>
<div class="panel-content panel-opsocial col-md-12" id="panel-post-preview">
    <div class="panel panel-transparent m-b-0">
        <ul class="nav nav-tabs nav-tabs-opsocial hidden-sm hidden-xs nav-flex" style="display: table; margin: 0 auto;"
            [class.m-t-60]="!mychannels.length">
            <li [ngSwitch]="channel.type" *ngFor="let channel of mychannels, let i = index">
                <a *ngSwitchCase="'F'" data-toggle="tab" href="#channel{{ channel.id }}"><i class="fa fa-facebook-square"></i></a>
                <a *ngSwitchCase="'P'" data-toggle="tab" href="#channel{{ channel.id }}"><i class="fa fa-facebook-square"></i></a>
                <a *ngSwitchCase="'T'" data-toggle="tab" href="#channel{{ channel.id }}"><i class="fa fa-twitter-square"></i></a>
                <a *ngSwitchCase="'I'" data-toggle="tab" href="#channel{{ channel.id }}"><i class="fa fa-instagram"></i></a>
                <a *ngSwitchCase="'S'" data-toggle="tab" href="#channel{{ channel.id }}"><i class="fa fa-instagram"></i></a>
                <a *ngSwitchCase="'L'" data-toggle="tab" href="#channel{{ channel.id }}"><i class="fa fa-linkedin-square"></i></a>
                <a *ngSwitchCase="'H'" data-toggle="tab" href="#channel{{ channel.id }}"><i class="fa fa-linkedin-square"></i></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="panel panel-transparent no-preview text-center m-t-10" *ngIf="!mychannels.length">
                <img width="100%" src="/assets/img/preview/empty.png">
            </div>
            <div class="tab-pane slide-left" id="channel{{ channel.id }}" [ngSwitch]="channel.type"  *ngFor="let channel of mychannels, let i = index">
                <facebook-preview *ngSwitchCase="'F'" [post]="post" [channel]="channel"></facebook-preview>
                <facebook-preview *ngSwitchCase="'P'" [post]="post" [channel]="channel"></facebook-preview>
                <twitter-preview *ngSwitchCase="'T'" [post]="post" [channel]="channel"></twitter-preview>
                <instagram-preview *ngSwitchCase="'I'" [post]="post" [channel]="channel"></instagram-preview>
                <instagram-preview *ngSwitchCase="'S'" [post]="post" [channel]="channel"></instagram-preview>
                <linkedin-preview *ngSwitchCase="'L'" [post]="post" [channel]="channel"></linkedin-preview>
                <linkedin-preview *ngSwitchCase="'H'" [post]="post" [channel]="channel"></linkedin-preview>
            </div>
        </div>
    </div>
</div>