<div class="text-center m-t-25">
    <!-- <i class="fa fa-exclamation-triangle fs-28" aria-hidden="true"></i>
    <h3>Tem certeza que deseja cancelar sua assinatura?</h3>
    <p>Retorno do que acontecerá com a conta se a assinatura for cancelada.</p>
    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn btn-danger m-l-10" data-dismiss="modal" (click)="cancelSubscription()">Deletar</button> -->

    <i class="fa fa-exclamation-triangle confirm-icon" aria-hidden="true"></i>
    <p class="confirm-message">Are you sure you want to cancel your subscription?</p>
    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="cancel()">No</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelSubscription()"><i class="fa fa-times"></i> Yes, cancel</button>
</div>