h4, h5 {
    line-height: 1
}

h1 {
    color: #00d6f6;
    line-height: 1;
}

.progress {
    height: 16px;
}

.small {
    font-size: 100%;
    font-weight: 300;
}

@media print{
    
    .progress{
        background-color: #00aed9 !important;
    }

    .progress-bar-complete {
        display: block !important;
        background-color: #00d6f6 !important;
    }

    .progress, .progress > .progress-bar {
        display: block !important;
        -webkit-print-color-adjust: exact !important;

        box-shadow: inset 0 0 !important;
        -webkit-box-shadow: inset 0 0 !important;
    }
}