<!-- Manage Channels -> 'channelsModal' -->
<generic-modal #channelsModal [slideRight]="false" [slideUp]="true" [currentModal]="channelsModal" [componentClassName]="manageChannelsComponentClassName"></generic-modal>

<!-- Settings Management -> 'settingsManagementModal' -->
<generic-modal #settingsManagementModal idModal="settings-modal" [slideRight]="false" [slideUp]="true" [currentModal]="settingsManagementModal"
    [componentClassName]="manageSettingsComponentClassName"></generic-modal>

<!-- Groups Management -> 'groupsManagementModal' -->
<generic-modal #groupsManagementModal [slideRight]="false" [slideUp]="true" [currentModal]="groupsManagementModal" [componentClassName]="groupsManagementComponentClassName"></generic-modal>

<!-- Team Management -> 'teamManagementModal' -->
<generic-modal #teamManagementModal [slideRight]="false" [slideUp]="true" [currentModal]="teamManagementModal" [componentClassName]="manageTeamComponentClassName"></generic-modal>

<!-- Profile Reconnect -> 'profileReconnectModal' -->
<generic-modal #profileReconnectModal [slideRight]="false" [slideUp]="true" [currentModal]="profileReconnectModal" [componentClassName]="profileReconnectComponentClassName"></generic-modal>

<!-- Tutorial -> 'tutorialModal' -->
<generic-modal #tutorialModal [slideRight]="false" [slideUp]="true" [currentModal]="tutorialModal" [componentClassName]="tutorialComponentClassName"></generic-modal>

<!-- Schedule Auth -> 'scheduleAuthModal' -->
<generic-modal #scheduleAuthModal [slideRight]="false" [slideUp]="true" [currentModal]="scheduleAuthModal" [componentClassName]="manageScheduleComponentClassName"></generic-modal>

<!-- Unlock Reports -> 'unlockReportsModal' -->
<generic-modal #unlockReportsModal [slideRight]="false" [slideUp]="true" [currentModal]="unlockReportsModal" headerTitle="Unlock Analytics"
    modalClass="modal" [componentClassName]="unlockReportsComponentClassName"></generic-modal>

<!-- Video Thumbnail -> 'videoThumbnailModal' -->
<generic-modal #videoThumbnailModal [currentModal]="videoThumbnailModal" [componentClassName]="videoThumbnailComponentClassName"
    [slideUp]="true" [slideRight]="false"></generic-modal>

<!-- Add Streams -> 'addStreamsModal' -->
<generic-modal #addStreamsModal [slideRight]="false" [slideUp]="true" [currentModal]="addStreamsModal" [componentClassName]="componentClassName"></generic-modal>

<!-- Hello Woop -> 'helloWoopModal' -->
<generic-modal #helloWoopModal [slideRight]="false" [slideUp]="false" [currentModal]="helloWoopModal" [componentClassName]="helloWoopComponentClassName"
    idModal="hello-woop-modal"></generic-modal>

<!-- View Rss Feed -> 'viewRssFeedModal' -->
<generic-modal #viewRssFeedModal [slideRight]="true" [slideUp]="false" [currentModal]="viewRssFeedModal" 
[headerTitle]="headerTitleGroups" [componentClassName]="viewRssFeedComponentClassName"></generic-modal>