<div class="col-md-5" style="z-index: 1000;">

    <div class="panel panel-transparent" style="z-index: 0;">
        <div class="panel-heading">
            <div class="panel-title">
                DADOS DO PACIENTE
            </div>
        </div>
    </div>
	<section>
		<article>
			<div class="row">
				<div class="col-lg-4">
					<div class="form-group form-group-default">
						<label>Código</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-6">
					<div class="form-group form-group-default">
						<label>Data agendamento</label>
							<div id="datepicker-component" class="input-group date" data-date-format="mm/dd/yyyy">                            
							<input type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" placement="bottom" class="form-control" style="color: rgba(98, 98, 98, 1);">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group form-group-default">
						<label>Nome</label>
						<input type="text" class="form-control" disabled>
					</div>
				</div>
			</div>
		</article>
	</section>
    <div class="panel panel-transparent" style="z-index: 0;">
        <div class="panel-heading">
            <div class="panel-title">
                Agendar
            </div>
        </div>
    </div>
	<section>
		<article>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group form-group-default form-group-default-select">
						<label>FORMA ATENDIMENTO</label>
						<select class="full-width" data-placeholder="Select your time zone"
						 tabindex="-1" aria-hidden="true">
							<!--<option *ngFor="let item of timezones" [value]="item.idTimezone">{{ item.description }}</option>-->
							<option>CONVÊNIO</option>
							<option>PARTICULAR</option>
							<option>SISTEMA ÚNICO SAÚDE(SUS)</option>
						</select>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group form-group-default">
						<label>Identificação da requisição</label>
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group form-group-default">
						<label>Médico requerente</label>
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group form-group-default">
						<label>Descrição do requerimento</label>
						<textarea 
						rows="3" 
						class="form-control" 
                		style="resize: none;overflow: auto; min-height: 85px;z-index:10;"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group form-group-default form-group-default-select">
						<label>ESPECIALIDADE</label>
						<select class="full-width" data-placeholder="Select your time zone"
						 aria-hidden="true">
							<!--<option *ngFor="let item of timezones" [value]="item.idTimezone">{{ item.description }}</option>-->
							<option>HEMODINAMICA</option>
							<option>CINTILOGRAFIA</option>
							<option>RESSONANCIA MAGNETICA</option>
							<option>ULTRASSOM</option>
						</select>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group form-group-default form-group-default-select">
						<label>URGÊNCIA</label>
						<select class="full-width" data-placeholder="Select your time zone"
						 aria-hidden="true">
							<!--<option *ngFor="let item of timezones" [value]="item.idTimezone">{{ item.description }}</option>-->
							<option>NÃO GRAVE</option>
							<option>GRAVE</option>
							<option>RISCO DE MORTE</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group form-group-default">
						<label>Observações</label>
						<textarea type="text" class="form-control" style="resize: none;overflow: auto; min-height: 85px;z-index:10;"></textarea>
					</div>
				</div>
			</div>
        </article>
    </section>
	<section>
		<article>
                <div class="col-md-12 col-sm-12 col-xs-12 no-padding sm-p-t-10 xs-p-t-10 p-b-50" style="z-index:10;">
                    <button 
                        style="width: 130px;"
                        class="btn btn-success pull-right btn-mobile sm-padding-10 xs-padding-10 p-l-5" >
                        <i class="fa fa-link"></i> 
                        <span class="bold">SALVAR</span>
                        <i class="fa-spin"></i> 
                    </button>
                </div>
		</article>
	</section>
</div>
<div class="col-md-1 no-padding"></div>
<div class="col-md-6 hidden-xs hidden-sm">
    <div class="panel panel-transparent" style="z-index: 0;">
        <div class="panel-heading">
            <div class="panel-title">
                PROCEDIMENTOS
            </div>
        </div>
    </div>
	<section class="p-b-10">
		<article>
			<ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary m-t-10">
				<li class="active">
					<a data-toggle="tab" href="#tabSelecionar">Selecionar</a>
				</li>
				<li>
					<a data-toggle="tab" href="#tabSelecionados">Selecionados</a>
				</li>
				<li>
					<a data-toggle="tab" href="#tabQuestionario">Questionário</a>
				</li>
			</ul>
		</article>
	</section>
	<section style="height: 500px;overflow-y: scroll;">
		<article>
				<!--<div class="form-group form-group-default">
						<label>Data agendamento</label>
							<div id="datepicker-component" class="input-group date z-i-0" data-date-format="mm/dd/yyyy" style="z-index:10;">                            
							<input type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" placement="bottom" class="form-control" style="color: rgba(98, 98, 98, 1);z-index:1000;">
						</div>
				</div>
                <div class="col-md-12 col-sm-12 col-xs-12 no-padding sm-p-t-10 xs-p-t-10 p-b-50" style="z-index:10;">
                    <button 
                        style="width: 130px;"
                        class="btn btn-success pull-right btn-mobile sm-padding-10 xs-padding-10 p-l-5" >
                        <i class="fa fa-link"></i> 
                        <span class="bold">SALVAR</span>
                        <i class="fa-spin"></i> 
                    </button>
                </div>-->

			<div class="tab-content">
				<div class="tab-pane active" id="tabSelecionar">
					<div class="scrollable display p-r-20">
						<div class="no-padding no-margin">
							<div class="row no-padding no-margin" style="height: 100px;">
								<div class="row">
									<div class="col-lg-12">
										<label>Buscar procedimento</label>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div *ngFor="let procedimento_lista of listaProcedimentos" class="row no-padding no-margin" style="height: 100px;">
								<div class="col-lg-12 p-l-0">{{procedimento_lista.NM_PROCEDIMENTO}}<article>{{procedimento_lista.DS_PROCEDIMENTO}}</article></div>
								<div class="row">
									<div class="col-lg-8">
										<div class="form-group form-group-default">
											<label>Data agendamento</label>
												<div id="datepicker-component" class="input-group date z-i-0" data-date-format="mm/dd/yyyy" style="z-index:10;">                            
												<input type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" placement="bottom" class="form-control" style="color: rgba(98, 98, 98, 1);z-index:1000;">
											</div>
										</div>
									</div>
									<div class="col-lg-2">
										<button 
											style="width: 60px;"
											class="btn btn-success pull-right btn-mobile sm-padding-10 xs-padding-10" >
											<span class="bold fa fa-plus"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tabSelecionados">
					<div>
						<div class="col-lg-12">
							<table-chart [data]='dataTableCronograma'></table-chart>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tabQuestionario">
					<div>
						<div class="col-lg-12">
							<table-chart [data]='dataTableQuestionario'></table-chart>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
</div>