<div class="inbox" *ngIf="inbox.conversations.length">
    <div class="tab-pane active no-padding scroll-op scroll-hover quickview-chat" #quickviewChat (scroll)="scrollBottom()">

        <!-- Quando for fazer a validação se foi lido ou não, usar [class.unread]="conversation.unread" -->
        <a class="item-list-inbox" (click)="toggleInbox(conversation, i)" *ngFor="let conversation of inbox.conversations, let i = index">
            <span class="thumbnail-wrapper d39 circular bg-success">
                <img [src]="conversation.userAvatar" class="col-top">
            </span>
            <p class="p-l-10 m-t-2 data-info overflow-ellipsis" [class.minimal]="offset < 413">
                <span class="text-master all-caps overflow-ellipsis">
                    <strong>{{ conversation.userName }}</strong>
                </span>
                <!-- <span class="block text-master hint-text fs-12 last-message overflow-ellipsis">{{ conversation.streamMessages.messages[0].message }}</span> -->
                <span class="block text-master hint-text fs-12 last-message overflow-ellipsis" [innerHtml]="getPreview(conversation.streamMessages.messages)"></span>
            </p>
            <p>
                <span class="text-master hint-text" *ngIf="profile.type === 'P'">{{ conversation.updatedTime | truncHour }}</span>
                <span class="text-master hint-text" *ngIf="profile.type === 'T'">{{ conversation.updatedTime / 1000 | truncHour }}</span>
            </p>
        </a>
    </div>

    <div class="container-messages" [class.inboxOpen]="inboxOpen">
        <inbox-message [conversation]="conversation" [messages]="messages" [paging]="paging" [inboxOpen]="inboxOpen" [profile]="profile"
            (emit)="addToMessages($event)" (newMessages)="loadMore($event)" #child></inbox-message>
    </div>
</div>

<div class="panel panel-transparent no-preview text-center p-t-30 p-b-30" *ngIf="loaded && !inbox.conversations.length">
    <div class="center-absolute">
        <p class="small hint-text">No messages in this section</p>
    </div>
</div>